<link rel="shortcut icon" href="{{url_for('static',filename='img/icon.png')}}" type="image/png">

<meta property="og:url" content="https://melodramatique.cat-girl.gay/">
<meta property="og:type" content="website">
<meta property="og:title" content="Mélodramatique">
<meta property="og:description" content="">
<meta property="og:image" content="https://melodramatique.cat-girl.gay/static/img/banner.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="melodramatique.cat-girl.gay">
<meta property="twitter:url" content="https://melodramatique.cat-girl.gay/">
<meta name="twitter:title" content="Mélodramatique">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="https://melodramatique.cat-girl.gay/static/img/banner.png">
<meta name="twitter:creator" content="@sapphiclinguine">
<title>Mélodramatique</title>
