<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Melodramatique</title>
    {% include 'meta.html.j2' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/fork-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-tagsinput.min.css') }}" />
    <script src="{{ url_for('static', filename='js/bulma-tagsinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bulma-toast.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dayjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/customParseFormat.js') }}"></script>
    <script>dayjs.extend(window.dayjs_plugin_customParseFormat)</script>
  </head>
  <body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="{{ url_for('static', filename='img/nav-logo.png') }}" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="main-nav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{url_for('search')}}">
            Pesquisar
          </a>

          <a class="navbar-item">
            Adicionar artigos
          </a>

          <a class="navbar-item" href="https://melodrama.paginas.ufsc.br/" target="_blank" rel="noopener noreferrer">
            Sobre
          </a>
        </div>
      </div>
    </nav>

  <section class="section">
    {% for (k, field) in schema.items() %}
      <div class="field">
        <label class="label">{{ field.name }}</label>
        {% if field.input.type == 'textarea' %}
        <textarea class="textarea {{ field.input.classes|join(' ') }}" placeholder="{{ field.input.placeholder }}" name="{{ k }}" {{ field.input.attributes|join(' ')|safe }}>{{ presets[k] if k in presets }}</textarea>
        {% else %}
        <div class="control {{ 'has-icons-left' if 'icon' in field.input}}">
          <input class="input {{ field.input.classes|join(' ') }}" type="{{ field.input.type }}" placeholder="{{ field.input.placeholder }}" name="{{ k }}" value="{{ presets[k] if k in presets }}" {{ field.input.attributes|join(' ')|safe }}>
          {% if 'icon' in field.input %}
          <span class="icon is-small is-left">
            <i class="fa {{ field.input.icon }}" aria-hidden="true"></i>
          </span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if 'id' in presets %}
      <input type="hidden" name="id" value="{{ presets['id'] }}">
    {% endif %}
    <div class="field is-grouped">
      <div class="control">
      <button id="submit-article" class="button is-link">Enviar</button>
    </div>
  </section>
  <script>
    document.querySelectorAll('input[data-type="tags"]').forEach((e) => {
      fetch(`/tags/${e.name}`)
            .then(r => r.json())
            .then((data) => {
              BulmaTagsInput.attach(e, {'delimiter':'|','source': data})
            });
    });

    document.querySelectorAll('.date-field').forEach((date) => {
        date.addEventListener('keyup', (ev) => {
    	    if (dayjs(date.value,'dd/mm/YYYY').isValid()) {
            if (!date.classList.contains("is-primary")) {
              date.classList.remove("is-danger");
              date.classList.add("is-primary");
            }
          } else {
            if (!date.classList.contains("is-danger")) {
              date.classList.remove("is-primary");
              date.classList.add("is-danger");
            }
          }
        });
    });

    document.getElementById('submit-article').onclick = function submit (e) {
      e.preventDefault();
      let res = [...document.querySelectorAll('input,textarea')].reduce((m,input) => { m[input.name] = input.value; return m }, {});
      let req = new XMLHttpRequest();
      req.onload = () => {
          if (req.status == 200) {
            bulmaToast.toast({ message: 'artigo adicionado ^^', opacity: 0.9, type: 'is-primary', dismissible: true });
          } else {
            bulmaToast.toast({ message: 'ocorreu um erro >< seu artigo não foi adicionado', type: 'is-danger', duration: 4000, opacity: 0.9, dismissible: true});
          }
      };

      req.open('POST',window.location);
      req.setRequestHeader('Content-Type', 'application/json');

      req.send(JSON.stringify(res));

    };
  </script>
  </body>
</html>
